.container{
    width: 100%;
}

.bloglist{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

h2{
    text-align: center;
}

.blog {
    width: 400px;
    max-width: 90%;
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.blog:hover{
    box-shadow: 2px 1px 8px 0px #d6d6d6;
}

.blog-title{
    color: #5dc4ff;
    font-size: 20px;
    font-weight: bold;
}

.blog-description{
    font-style: italic;
    font-size: 15px;
}

.blog-author{
    color: gray;
}

.blog-delete{
    background: red;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 13px;
}