.detail-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.blog-detail{
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    max-width: 90%;
    position: relative;
}

img{
    width: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.content{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s ease;
}

.blog-detail-title{
    color: #5dc4ff;
    margin: 0;
    align-self: flex-start;
}

.blog-detail-description{
    text-align: left;
}

.blog-detail-date{
    align-self: flex-end;
}

.blog-detail-author{
    align-self: flex-start;
}

.blog-detail-delete{
    position: absolute;
    background: red;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
    z-index: 5;
}

.blog-detail-delete:hover + img{
    filter: grayscale(.9);
}

.blog-detail-delete:hover ~ .content{
    filter: grayscale(.9);
}

.overlay{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
}

.overlay-container{
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.overlay-container div{
    display: flex;
    justify-content: flex-end;
}

.overlay-container div button{
    margin-left: 10px;
}

.red{
    background: red;
}

.gray{
    background: gray;
}